# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

title: Sandy Stoneworks
description: >- # this means to ignore newlines until "baseurl:"
  Stonemason and Timber Framer in Victoria, BC.
baseurl: "" # the subpath of the site
url: "https://sandystoneworks.com" # the base hostname & protocol for the site
google_analytics: "G-CB199LTTK5"

header:
  pages:
    - name: Home
      slug: /
#    - name: Stonework
#    - name: Timber Frames
#      slug: /timber_frames

footer:
  contact:
    - name: Email
      value: sandystoneworks@gmail.com
      link: mailto:sandystoneworks@gmail.com
    - name: Phone
      value: 250 589 6513
      link: tel:250-589-6513

collections:
  timber_frames:
    output: true
  stonework:
    output: true

collections_dir: projects

layoutVars:
    timber_frame_project:
        images: "/assets/img/content/timber_frames"
    stonework_project:
        images: "/assets/img/content/stonework"

defaults:
  -
    scope:
      path: ""
      type: "timber_frames" # a collection in your site, in plural form
    values:
      layout: "project"
      images: "/assets/img/content/timber_frames"
  -
    scope:
      path: ""
      type: "stonework" # a collection in your site, in plural form
    values:
      layout: "project"
      images: "/assets/img/content/stonework"

# Build settings
markdown: kramdown
remote_theme: sandystoneworks/sandystoneworks.github.io
sass:
    style: :compressed
plugins:
  - jekyll-feed

# Excluded items
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - feed.xml
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

# Used for defeating caching
version: 1
